<span class="title">@PizzaName</span>

@PizzaDescription

<span class="price">
    xx.xx
</span>

@code {
    [Parameter]
    public string PizzaName { get; set; }

    [Parameter]
    public string PizzaDescription { get; set; }
}
